
body {
  margin: 0;
  padding: 0;
  background-color: rgb(173, 173, 173);
}

h1{
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
}

ul li a:hover {
  background-color: #111111;
}  

img {
  display: block;
  margin: auto;
  width: 50%;
  
}
p{
    font-size: large;
    text-align: center;
    
    padding: 20px;
    width: 70%;
    background-color: #555555;
 

}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}




aside {
  width: 20%;
  padding-left: 10px;
  margin-left: 10px;
  float: right;
  font-style: italic;

}



footer {
  
  padding: 10px;
  align-items: center;
  text-align: center;
  color: white;
}
